/* Reduce margin between paragraph and lists */
p+ul,
p+ol {
    margin-top: 0.25rem;
}

/* Reduce margin of paragraphs that are followed by lists */
p:has(+ ul),
p:has(+ ol) {
    margin-bottom: 0.25rem;
}